<template>
  <div id="nav">
    <router-link to="/">Usuarios</router-link> -
    <router-link to="/comidas">Comidas</router-link>
  </div>
</template>
<script>
export default {};
</script>
<style  lang="scss">
#nav {
  padding: 30px;
  a {
    margin: 0 5px;
    font-weight: bold;
    text-decoration: none;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
      color: white;
      background: #42b983;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
</style>