body {
    background-color: rgb(48, 169, 169);
}

#app {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    border: black 3px solid;
    padding: 1.5rem 3rem;
    margin-top: 2rem;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

#nav ul {
    display: flex;
    justify-content: center;
}

#nav ul li {
    border-radius: 2px;
    padding: 3px 5px;
    cursor: pointer;
    margin: 5px;
    list-style: none;
}

#nav ul li.selected {
    color: white;
    background-color: rgb(100, 100, 100);
    border: 1px solid black;
}