<template>
  <div id="app">
    <Navbar />
    <router-view />
  </div>
</template>
<script>
import Navbar from "@/components/Navbar.vue";
export default {
  components: {
    Navbar
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
input,
select {
  margin: 0px 5px;
  padding-left: 5px;
  height: 20px;
}

.button {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin: 2px;
  color: white;
  &-trash {
    background: rgb(230, 53, 53);
  }
  &-profile {
    background: rgb(38, 166, 210);
  }
  &-add {
    background: rgb(29, 193, 99);
  }
  &-save {
    background: rgb(216, 218, 73);
  }
}
</style>
