<template>
  <div id="vista-comidas">
    <h1>Comidas</h1>
    <h3>Agregar Nueva Comida</h3>
    <form @submit.prevent="addNewFood()">
      <label for="nombre">nombre</label>
      <input required v-model="newFood.name" type="text" />
      <button class="button button-add" type="submit">
        <i class="fas fa-plus"></i>
      </button>
    </form>
    <hr />
    <h3>Todas las comidas</h3>
    <div v-if="getFoods.length > 0" class="comidas">
      <div v-for="(food, index) in getFoods" v-bind:key="index" class="comida">
        <b>{{food.nombre}}</b>
        <button class="button button-trash" @click="eraseFood(index)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <div v-else>Aun no hay ninguna comida agregada</div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      foods: [],
      newFood: {
        name: ""
      }
    };
  },
  methods: {
    async eraseFood(index) {
      const id = this.foods[index].id;
      try {
        const respuesta = await axios.delete(`deleteFood/${id}`);
        if (respuesta.data.status == "good") {
          this.getAllFood();
        } else {
          alert("No se pudo borrar");
        }
      } catch (error) {
        console.log(error);
      }
    },
    async addNewFood() {
      if (
        !this.foods.find(
          item => item.nombre.toLowerCase() == this.newFood.name.toLowerCase()
        )
      ) {
        try {
          const respuesta = await axios.post(`addFood/${this.newFood.name}`);
          if (respuesta.data.status == "good") {
            this.getAllFood();
            this.newFood.name = "";
          } else {
            alert("No se pudo agregar");
            this.newFood.name = "";
          }
        } catch (error) {
          console.log(error);
        }
      } else {
        alert("Comida ya agregada");
        this.newFood.name = "";
      }
    },
    async getAllFood() {
      try {
        const respuesta = await axios.get("/getAllFood");
        if (respuesta) {
          this.foods = respuesta.data.response;
        }
      } catch (error) {
        console.log(error);
      }
    }
  },
  computed: {
    getFoods() {
      return this.foods;
    }
  },
  mounted() {
    this.getAllFood();
  }
};
</script>

<style>
</style>