<template>
  <div v-if="show">
    <h2>PERFIL: {{$route.params.name}}</h2>
    <h3>Agregar Comida a {{$route.params.name}}</h3>
    <form v-if="getAllFoods.length > 0" @submit.prevent="addUserFood()">
      <label for="comida">comida</label>
      <select v-model="newUserFood.name" required>
        <template v-for="(food, index) in getAllFoods">
          <option v-bind:key="index" v-bind:value="food.nombre">{{food.nombre}}</option>
        </template>
      </select>
      <label for="cantidad">cantidad</label>
      <input v-model="newUserFood.number" required type="number" min="1" value="1" />
      <button class="button button-add" type="submit">
        <i class="fas fa-plus"></i>
      </button>
    </form>
    <div v-else>
      Aun no hay comidas agregadas agrega una en:
      <router-link to="/comidas">Comidas</router-link>
    </div>
    <hr />
    <h3>Comidas de {{$route.params.name}}</h3>
    <div v-if="getUserFoods.length > 0" class="comidas">
      <div v-bind:key="index" v-for="(food, index) in getUserFoods" class="comida">
        <div>
        <b>  {{food.nombre}} </b>
          <span>cantidad </span>
          <input v-model="userFood[index].cantidad" type="number" min="1" />
          <button class="button button-save" @click="updateUserFood(index)">
            <i class="fas fa-save"></i>
          </button>
          <button class="button button-trash" @click="eraseUserFood(index)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <div v-else>{{$route.params.name}} aún no tiene comidas</div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      sida: 1,
      userId: null,
      show: false,
      userFood: [],
      foods: [],
      newUserFood: {
        name: "",
        number: 1
      }
    };
  },
  computed: {
    getUserFoods() {
      return this.userFood;
    },
    getAllFoods() {
      return this.foods;
    }
  },

  methods: {
    resetForm() {
      this.newUserFood = {
        name: "",
        number: 1
      };
    },
    async updateUserFood(index) {
      const foodid = this.userFood[index].id;

      const param = {
        cantidad: this.userFood[index].cantidad
      };

      const respuesta = await axios.put(
        `/editFood/${this.userId}/${foodid}`,
        param
      );

      if (respuesta.data.status == "good") {
        alert("Se ha actualizado");
      }
    },
    async eraseUserFood(index) {
      const foodid = this.userFood[index].id;
      const respuesta = await axios.delete(
        `/deleteUserFood/${this.userId}/${foodid}`
      );
      if (respuesta.data.status == "good") {
        this.userFood.splice(index, 1);
      }
    },
    async addUserFood() {
      if (!this.userFood.find(item => item.nombre == this.newUserFood.name)) {
        if (this.newUserFood.number < 1) {
          this.newUserFood.number = 1;
        }
        const param = {
          cantidad: this.newUserFood.number
        };
        const comidaid = this.foods.find(
          item => item.nombre == this.newUserFood.name
        ).id;
        const respuesta = await axios.post(
          `/addFoodUser/${this.userId}/${comidaid}`,
          param
        );
        if (respuesta.data.status == "good") {
          console.log(respuesta.data);
          const newFood = {
            id: comidaid,
            nombre: this.newUserFood.name,
            cantidad: param.cantidad
          };
          this.userFood.push(newFood);
          this.resetForm();
        } else {
          alert("No se ha podido agregar comida");
          this.resetForm();
        }
      } else {
        alert(`${this.$route.params.name} ya tiene esta comida`);
      }
    },
    async getAllFood() {
      try {
        const respuesta = await axios.get("/getAllFood");
        if (respuesta) {
          this.foods = respuesta.data.response;
        }
      } catch (error) {
        console.log(error);
      }
    },
    async getUserFood() {
      try {
        const response = await axios.get(
          `/getUserFoods/${this.$route.params.name}`
        );
        response.data.status == "bad"
          ? this.$router.push({ name: "Users" })
          : (this.userFood = response.data.response);

        this.userId = response.data.objt.usuarioid;
        console.log(this.userId);

        this.show = true;
      } catch (error) {
        console.log(error);
      }
    }
  },
  created() {
    this.getUserFood();
  },
  mounted() {
    this.getAllFood();
  }
};
</script>