<template>
  <div id="vista-usuarios">
    <h1>Usuarios</h1>
    <h3>Agregar Nuevo Usuario</h3>
    <form @submit.prevent="addnewUser()">
      <label for="nombre">nombre</label>
      <input required v-model="newUser.name" type="text" />
      <button class="button button-add" type="submit">
        <i class="fas fa-plus"></i>
      </button>
    </form>
    <hr />
    <h3>Todos los usuarios</h3>
    <div v-if="getUsers.length > 0" class="usuarios">
      <div v-for="(user, index) in getUsers" v-bind:key="index" class="usuario">
        <b>{{user.nombre}}</b>
        <router-link v-bind:to="`/perfil/${user.nombre}`">
          <button class="button button-profile">
            <i class="fas fa-user"></i>
          </button>
        </router-link>

        <button class="button button-trash" @click="eraseUser(index)">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
    <div v-else>Aun no hay ningun usuario agregado</div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      users: [],
      newUser: {
        name: ""
      }
    };
  },
  methods: {
    async addnewUser() {
      if (
        !this.users.find(
          item => item.nombre.toLowerCase() == this.newUser.name.toLowerCase()
        )
      ) {
        try {
          const respuesta = await axios.post(`addUser/${this.newUser.name}`);
          if (respuesta.data.status == "good") {
            this.getAllUser();
            this.newUser.name = "";
          } else {
            alert("No se pudo agregar");
            this.newUser.name = "";
          }
        } catch (error) {
          console.log(error);
        }
      } else {
        alert("Usuario ya agregada");
        this.newUser.name = "";
      }
    },
    async eraseUser(index) {
      const id = this.users[index].id;
      try {
        const respuesta = await axios.delete(`deleteUser/${id}`);
        if (respuesta.data.status == "good") {
          this.getAllUser();
        } else {
          alert("No se pudo borrar");
          this.newUser.name = "";
        }
      } catch (error) {
        console.log(error);
      }
    },
    async getAllUser() {
      try {
        const respuesta = await axios.get("/getAllUsers");
        if (respuesta) {
          this.users = respuesta.data.response;
        }
      } catch (error) {
        console.log(error);
      }
    }
  },
  computed: {
    getUsers() {
      return this.users;
    }
  },
  mounted() {
    this.getAllUser();
  }
};
</script>
